<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:fb="http://ogp.me/ns/fb#" xmlns="http://www.w3.org/1999/xhtml" xml:lang="{idioma}"><!-- InstanceBegin template="/Templates/plantilla.dwt" codeOutsideHTMLIsLocked="false" -->
<head> 
      <link rel="shortcut icon" href="/images/favicon.ico" >   
<!-- InstanceBeginEditable name="doctitle" -->
<title>{title} - {title_empresa}</title>
<!-- InstanceEndEditable -->

<meta http-equiv="Content-Type" content="text/html; charset={charset}" />
<!-- InstanceBeginEditable name="head" -->
<!--<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key=ABQIAAAA2b-ywxRvtYg6Bk1btirdmBQ4Qd12a5ofHYbxgsY-XODgl1Qx3xRzAwaX1J7yFl_GSLXbtLSB4nuyMg" type="text/javascript"></script>-->
<link rel="stylesheet" href="/js/jquery/css/ui-lightness/jquery-ui-1.8.17.custom.css" type="text/css" media="all" />
<!--link media="screen" rel="stylesheet" href="/js/colorbox/colorbox.css" /-->

	<!--script src="/js/colorbox/jquery.colorbox.js"></script-->
	<!-- script imagenes -->
    <script type="text/javascript" src=" https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.js"></script>
	<script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js" type="text/javascript"></script>
	<script src="http://jquery-ui.googlecode.com/svn/tags/latest/external/jquery.bgiframe-2.1.2.js" type="text/javascript"></script>
	<script src="/js/jquery/js/formulario_consulta_productos.js"></script>
    <!--script src="/js/jquery/js/jdialog.js"></script-->
                        
<script language="javascript">
 
		$(document).ready(function() {
			$("#gallery_output img").not(":first").hide();
 
			$("#gallery a").click(function() {
				if ( $("#" + this.rel).is(":hidden") ) {
					$("#gallery_output img").slideUp();
					$("#" + this.rel).slideDown();
				}
			});
		});
 
	</script>
	
<!-- InstanceEndEditable -->

<meta name="Keywords" content="{keywords}" />
<meta name="Description" content="{titulo} - {description}" />
<meta name="DC.Title" content="{title}" />
<meta http-equiv="DC.Description" content="{titulo} - {description}" />
<meta name="DC.Keywords" content="{keywords}" />
<meta name="Language" content="{idioma}" />
<meta name="robots" content="all" />
<meta name="revisit-after" content="30 days" />
<meta name="distribution" content="global" />
<meta name="resource-type" content="document" />
<meta name="robots" content="all" />

<meta name="copyright" content="Copyright ? - Alejandro Javier Doglioli" />

<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/{idioma}/feed" /> 
     
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<script type="text/JavaScript" src="/js/funciones.js"></script>

<!--[if IE]> 
<style>
#blog {padding-top: 30px;}
#blog h2{padding-left: 40px;padding-bottom: 30px;}
</style> <![endif]-->
</head>
<body {onload} >
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div id="contenedorlinksuperior">
	<div id="linksuperior">
		<ul>
			<li style="margin-left:10px;">
				<!-- BEGIN block_idiomas -->
				<p><a href="/{idioma_bandera}/" title="{nombre_idioma}"><img src="{image_idioma}" alt="{nombre_idioma}"/></a></p>
				<!-- END block_idiomas -->
			</li>
			<li>{link_login_salir}</li>
			<li>Bienvenido a {empresa} {usuario_logueado}|</li>
            
		</ul>
   
	</div>
</div>
<div id="wrapper">
	<div id="header-frontend">
	  <div id="logo"> 
			<b><a href="/" title="{empresa}"><img src="/images/logootro.jpg" alt="Campo-Vende" width="190" height="150" /></a></b>
    		<!--<b>{empresa}</b>
			<p><em>{slogan}</em></p> -->
		</div>
         <div align="center"> 
         <ul>         		
          <li style="float:left"> 
         <iframe align="right" width="320" height="47" scrolling="no" src="http://pagina-del-dia.euroresidentes.es/gadget-dia-de-hoyH.php?fondo=Azul.png&texto=FFFFFF" frameborder="0"></iframe>
         </li>
			<li style="float:right;">
						<div id="search">
			<form method="post" action="/{idioma}/buscar/">
					<div>                          
						<input type="text" name="texto" id="texto" size="20" value="Busca en {empresa}..." onfocus="if (this.value == 'Busca en {empresa}...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Busca en {empresa}...';}"/>
						<input type="submit" class="botonbuscar" value="{traduccion_buscar}" />
					</div>
				</form>
			</div>

			</li>
         </ul>
         </div>     
		<div id="menu">
        
			<ul>
            
			<li style="width:100%;margin-bottom:50px;"></li>
<!-- BEGIN block_menu_principal -->
					<li  class="{classmenu}"><a href="{path}" title="{seccion}" >{seccion}</a>
						{subseccion}				</li>
					<!-- END block_menu_principal -->
					<!-- BEGIN block_menu_principal_modulo -->
					<li class="{classmenu}"><a href="{path}" title="{seccion}" >{seccion}</a></li>
					<!-- END block_menu_principal_modulo -->
					<li class="{classmenucontacto}"><a href="/{idioma}/contacto.htm" rel="nofollow" title="{traduccion_contacto}">{traduccion_contacto}</a></li>
					<li class="{classmenumapaweb}"><a href="/{idioma}/mapaweb.htm" title="{traduccion_mapaweb}">{traduccion_mapaweb}</a></li>
				</ul>
		</div>	
		<div style="clear:both"></div>	
	</div>
	<!-- end #header -->
	
	<!-- end #menu -->
	<div id="page">
		<div id="content">
			
			<div id="breadcrumb"><a href="/{idioma}/" title="Home">Home</a><!-- InstanceBeginEditable name="BreadCrumb" -->{breadcrum}<!-- InstanceEndEditable --></div>
			<div class="post">
				
				
				<h1 class="title">{titulo}</h1>			

				<!-- InstanceBeginEditable name="contenido" -->
							<!-- BEGIN block_imagenes_principio--> 


<div id="cuerpo_producto">
  
      <div class="titulo_producto">
         <h1>{title}</h1>      
      </div>
      <div id="contenido_producto">      
      		<div id="contenido_imagen">
         			<div id="gallery">            
						<div id="gallery_output">
        					<!-- BEGIN block_imagen_prod1 -->
							<img id="{imagen_nombre}" src="{imagen_src}" height="220" width="220"/>                     
        					<!-- END block_imagen_prod1 -->
						</div>
    					<div id="gallery_nav">
    						<!-- BEGIN block_imagen_prod2 -->			
        					<a rel="{imagen_nombre}" href="javascript:;"><img src="{imagen_src}" height="50" width="50"/></a>
  						    <!-- END block_imagen_prod2 -->	
						</div>
					</div>
                    </div>
       				<div class = "columna_der">
      				     {description} 
      				     {contenido} 
      				</div>
                    
      				<div class="pie_producto">  
      					<h2 style="margin:10px;">aca podrian ir datos de fecha de publicacion, usuario, cant visitas.. etc</h2>
      				</div>
      		</div>
    </div>
  					
						<!--div id="enlacesubcaegorias" style="{enlacesubcategoriasvisibles}">
								<h3>{traduccion_enlacesrelacionados} {titulo}:</h3>
								<ul-->
								<!-- BEGIN b_productos -->
									<!--li><a href="/{idioma}/{categoria}/{subcategoria}{subsubcategoria}{id_categoria}{id_subcategoria}{id_subsubcategoria}.htm" title="{anchor}">{anchor}</a><br />
									{imagen_producto}
									{contenido_producto}</li-->
									<!-- END b_productos -->
								<!--/ul>

						</div-->
                        



                  
        	<div class="preguntasv">
				<ul id="preguntasRespv">
                <!-- cambie el nombre aca!!!!!!!!!!!!!!!!!!!  estoy usando el mismo bloque para las imagenes como mierda lo hago con otro nombre>>??????-->
					<!-- BEGIN block_comentarios -->
					<li class="preguntav">
						<strong>{fecha_publicacion} | <span>{nombre}</span></strong>
						<p>{comentario}</p>
						<p style="display:none;"><a class="responder" href="#" onclick="mostrar_responder(240293);" style="display:;">Responder</a></p>
					</li>
					<!-- END block_comentarios -->
					
					<li class="respuestav">
						<strong></strong>
						<p>llamame y lo vemos
						</p>
					</li>          
	
				</ul>
				<p class="cont_pregunta" style="display:none;">
					<img alt="Hacer una pregunta" src="/imagenes/hacer_una_pregunta_des.jpg"/>
				</p>
				<p class="cont_pregunta">
				  <button id="hacer-pregunta" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false"><span class="ui-button-text">Hacer una pregunta</span></button>
				</p>
		</div>
  
<div id="dialog-form" title="Envie su consulta o comentario">
	<p class="validateTips">Todos los campos son requeridos.</p>
<form id="formComentario"  enctype="multipart/form-data" method="post" action="/{idioma}/gracias-comentario-producto.htm">
							<!--input name="id_producto" id="id_producto" type="hidden" value="{id_producto}" />
							<input name="id_subproducto" id="id_subproducto" type="hidden" value="{id_subproducto}" />
							<input name="id_subsubproducto" id="id_subsubproducto" type="hidden" value="{id_subproducto}" /-->
								<p>{traduccion_nombre}:<input id="nombre" name="nombre" type="text" value="" size="50" "/></p>
								<p>{traduccion_email}:<input id="email" name="email"  type="text" value="" size=50" /></p>
								<p>{traduccion_comentario}:<textarea id="comentario" name="comentario" cols="50" rows="4" "></textarea></p>
								<p style="height:40px;">Ingrese el codigo de verificacion.
								<br /><img src="/include/crear-imagen.php?captcha_texto={captcha_texto_session}" alt="captcha"/><input name="captcha" type="text" id="captcha" size="20" onfocus="this.className=''"/></p>
							</form>
</div>


          
         

    

	<!-- InstanceEndEditable -->
				
				<!-- InstanceBeginEditable name="noticias" --><!-- InstanceEndEditable -->
				
				
			</div>
			<div style="clear: both;">&nbsp;
			  <p>&nbsp;</p>
			</div>
		</div>
		<!-- end #content -->
		<div id="sidebar">
					
		    <ul id="menulateral">
				
				<li>
					<h2>{traduccion_secciones} {categoria_seccion}</h2>
					<ul id="lotes">
						<!-- BEGIN block_secciones -->
						<li {onmouse} >
						<a href="{path}" title="{seccion}" class="{classmenulateral}">{seccion}</a>
						{submenu}
						</li>
						<!-- END block_secciones -->
					</ul>
				</li>
			</ul>
			<!--ul>	
				<li>
					<div class="menu">
					  <h2>Newsletter</h2>
						<h3>{traduccion_slogannewsletter}</h3>
						<form action="/{idioma}/gracias-newsletter.htm" name="formnewsletter" id="formnewsletter" enctype="multipart/form-data" method="post">
						<p class="center"><label>Nombre:</label> <input id="nombre_contacto" name="nombre_contacto" type="text"/></p>
						<p class="center"><label>Apellido:</label> <input id="apellido_contacto" name="apellido_contacto" type="text" /></p>
						<p class="center"><label>Email:</label> <input id="email_contacto" name="email_contacto" type="text" /></p>
						<p class="center" style="margin-top:10px;"><input type="button" value="Subscribirse" class="boton" onclick="validarFormNewsletter()" /></p>
						</form>
					</div>	
				</li>
			</ul-->
			<ul>	
				<li>
					<div class="menu">
						<h2>{traduccion_etiquetas}</h2>
						<p class="tag">
							<!-- BEGIN tags -->
							<a href="/{idioma}/{enlace}.htm" title="{anchortag}" style="font-size:{tam}" >{anchortag}</a>
							<!-- END tags -->
						</p>
					</div>
				</li>
			</ul>			  
			<ul>
			  <li>
					<h2>Cotización Dolar</h2>
			  </li> 
<!-- Inicio Codigo DolarAlDia.com --> 
<!--script language="JavaScript" src="http://www.dolaraldia.com/rss/botoncotizaciones.php" type="text/javascript">
</script><!-- Fin DolarAlDia.com --> 


<div id="preciodolar-ar1"><h2><a href="http://www.preciodolar.com">Precio del dolar</a></h2><a href="http://www.preciodolar.com/cotizacion-del-dolar">Cotizacion del dolar</a></div><script type="text/javascript" src="http://www.preciodolar.com/js/get_preciodolar_ar1.js"></script>


          </ul>
      </div>
		
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
			
			</div>
	</div>
	<!-- end #page -->

<div id="footer-content">
	<div class="column1">
    
		<p id="copyright">{traduccion_copyright} <br />	{traduccion_disenadopor} <a href="http://www.alejandro-doglioli.com.ar/">Alejandro Doglioli</a></p>
	</div>
    <div class="columnmedio">
    <fb:like href="http://prod.campo-vende.com.ar" send="true" layout="button_count" width="300" show_faces="true" action="recommend" font="lucida grande"></fb:like>
    </div>
	<div class="column2">
    
		<ul class="list">
			<li><a href="/{idioma}/feed" title="RSS"><img src="/images/rss.jpg" alt="RSS" width="60" /></a></li>
			<li><a href="http://validator.w3.org/check?uri={url_actual}" title="Valid HTML 4.01 Transitional"><img src="http://validator.w3.org/images/valid_icons/valid-xhtml10" alt="Valid HTML 4.01 Transitional" title="Valid XHTML 1.0 Transitional" /></a></li>
			<li><a href="http://jigsaw.w3.org/css-validator/check?uri=www.deviajeyturismo.com" title="CSS V?lido"><img src="http://jigsaw.w3.org/css-validator/images/vcss" alt="?CSS V?lido!" title="?CSS V?lido!" /></a></li>
		</ul>
	</div>
</div>
<!-- end #footer -->


<!--Estadisticas-->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2581103-17']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!--Fin estadisticas-->
</body>
<!-- InstanceEnd --></html>
