RewriteEngine On

RewriteBase /

php_flag register_globals on

ErrorDocument 404 /

Redirect 301 ^(.*)$ http://www.google.com

#Redireccion dominio a www.dominio
RewriteCond %{http_host} ^campo-vende.com.ar [nc]
RewriteRule ^(.*)$ http://prod.campo-vende.com.ar/$1 [R=301,nc]

#R301 paginas mal indexadas
RewriteRule ^(.*)/(.*)-([0-9]+)/(.*)-([0-9]+)/(.*)-([0-9]+).htm$ $1/$2/$4/$6-$3-$5-$7.htm [L,R=301]
RewriteRule ^(.*)/(.*)-([0-9]+)/(.*)-([0-9]+)/mapaweb\.htm$ $1/mapaweb.htm [L,R=301]
RewriteRule ^(.*)/(.*)-([0-9]+)/(.*)-([0-9]+)/contacto\.htm$ $1/contacto.htm [L,R=301]

#usuarios sistema
RewriteRule ^(.*)/login.htm$ index.php?action=login&idioma=$1 [L,NC]
RewriteRule ^(.*)/registrarse.htm$ index.php?action=registrar_usuario_sistema&idioma=$1 [L,NC]
RewriteRule ^(.*)/listar_productoxusuario/([0-9]+)$ index.php?action=listar_productoxusuario&id_seccion=$2&idioma=$1 [L,NC]
RewriteRule ^(.*)/(.*)_productoxusuario/([0-9]+)$ index.php?action=$2_productoxusuario&id_producto=$3&idioma=$1 [L,NC]
RewriteRule ^(.*)/(.*)_productoxusuario$ index.php?action=$2_productoxusuario&idioma=$1 [L,NC]
RewriteRule ^(.*)/(.*)_productoxusuario_ok/([0-9]+)$ index.php?action=$2_productoxusuario_ok&id_producto=$3&idioma=$1 [L,NC]
RewriteRule ^(.*)/(.*)_productoxusuario_ok$ index.php?action=$2_productoxusuario_ok&idioma=$1 [L,NC]

#home
#RewriteRule ^$ /es/ [L,NC] 
RewriteRule ^([a-z][a-z])/$ index.php?idioma=$1 [L,NC] 



#newsletter
RewriteRule ^(.*)/gracias-newsletter.htm$ index.php?action=gracias-newsletter&idioma=$1 [L,NC]

#mapaweb
RewriteRule ^(.*)/mapaweb.htm$ index.php?action=mostrar_mapaweb&idioma=$1 [L,NC]  
RewriteRule ^(.*)/mapaweb-(.*)-([0-9]+).htm$ index.php?action=mostrar_mapaweb&id_seccion=$3&idioma=$1 [L,NC]

#Noticias
RewriteRule ^(.*)/noticias/(.*)-([0-9]+).htm$ index.php?action=mostrar_modulo&modulo=noticias&noticia=$3&idioma=$1 [L,NC]
RewriteRule ^(.*)/noticias-([0-9]+).htm$ index.php?action=mostrar_modulo&modulo=noticias&idioma=$1&pagina=$2 [L,NC]
RewriteRule ^(.*)/news/(.*)-([0-9]+).htm$ index.php?action=mostrar_modulo&modulo=noticias&noticia=$3&idioma=$1 [L,NC]
RewriteRule ^(.*)/news-([0-9]+).htm$ index.php?action=mostrar_modulo&modulo=noticias&idioma=$1&pagina=$2 [L,NC]
RewriteRule ^(.*)/nouvelles/(.*)-([0-9]+).htm$ index.php?action=mostrar_modulo&modulo=noticias&noticia=$3&idioma=$1 [L,NC]

#Productos
RewriteRule ^(.*)/(.*)/(.*)-([0-9]+)-([0-9]+)/(.*)_([0-9]+).htm$ index.php?action=mostrar_producto&id_producto=$7&id_seccion=$4&id_subseccion=$5&idioma=$1 [L,NC]
RewriteRule ^(.*)/(.*)-([0-9]+)/(.*)_([0-9]+).htm$ index.php?action=mostrar_producto&id_producto=$5&id_seccion=$3&idioma=$1 [L,NC]
RewriteRule ^(.*)/producto/gracias-comentario.htm$ index.php?action=gracias_comentario_producto&idioma=$1 [L,NC]
RewriteRule ^(.*)/producto/consulta.htm$ index.php?action=consulta&idioma=$1 [L,NC]

#Secciones 
RewriteRule ^(.*)/(.*)/(.*)/(.*)-([0-9]+)-([0-9]+)-([0-9]+).htm$ index.php?action=mostrar_seccion&id_seccion=$5&id_subseccion=$6&id_subsubseccion=$7&idioma=$1 [L,NC]
RewriteRule ^(.*)/(.*)/(.*)-([0-9]+)-([0-9]+).htm$ index.php?action=mostrar_seccion&id_seccion=$4&id_subseccion=$5&idioma=$1 [L,NC]
RewriteRule ^(.*)/(.*)-([0-9]+).htm$ index.php?action=mostrar_seccion&id_seccion=$3&idioma=$1 [L,NC]
RewriteRule ^(.*)/gracias-comentario.htm$ index.php?action=gracias_comentario&idioma=$1 [L,NC]
RewriteRule ^(.*)/consulta.htm$ index.php?action=gracias_comentario&idioma=$1 [L,NC]
  
#contacto
RewriteRule ^(.*)/contacto.htm$ index.php?action=mostrar_contacto&idioma=$1 [L,NC]  
RewriteRule ^(.*)/gracias-contacto.htm$ index.php?action=gracias_contacto&idioma=$1 [L,NC]
RewriteRule ^(.*)/enviar-contacto.htm$ index.php?action=enviar_contacto&idioma=$1 [L,NC]

#buscador
RewriteRule ^(.*)/buscar/(.*)$ index.php?action=buscar&idioma=$1 [L,NC]


#modulos
RewriteRule ^(.*)/(.*).htm$ index.php?action=mostrar_modulo&modulo=$2&idioma=$1 [L,NC]

#feed
RewriteRule ^(.*)/feed$ feed_$1.xml [L,NC]

