 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/plantilla_admin.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>{title} - {empresa}</title>
<!-- InstanceEndEditable -->

<link href="/admin/css/style.css" rel="stylesheet" type="text/css">
<link href="/admin/css/theme.css" rel="stylesheet" type="text/css">
<!-- InstanceBeginEditable name="head" -->
<script type="text/javascript" src="/admin/css/tab/tab.js"></script>
<link rel="stylesheet" type="text/css" href="/admin/css/tab/tab.css" />
<script type="text/javascript" src="/admin/js/fckeditor/fckeditor.js"></script>
<script type="text/javascript" src="/admin/js/jsrsClient.js"></script>
 <!-- Hoja de estilos del calendario -->
<link rel="stylesheet" type="text/css" media="all" href="/admin/js/jscalendar/calendar-win2k-cold-1.css" title="win2k-cold-1" />

<!-- librería principal del calendario -->
<script type="text/javascript" src="/admin/js/jscalendar/calendar.js"></script>

<!-- librería para cargar el lenguaje deseado -->
<script type="text/javascript" src="/admin/js/jscalendar/lang/calendar-es.js"></script>

<!-- librería que declara la función Calendar.setup, que ayuda a generar un calendario en unas pocas líneas de código -->
<script type="text/javascript" src="/admin/js/jscalendar/calendar-setup.js"></script>
<script type="text/javascript">
function pedir_subsecciones(valor){
var id_seccion = valor;
	jsrsExecute("../modulos/secciones/include/include.remotescripting.php", parsear_subsecciones, "obtenerSubsecciones",Array(id_seccion));
}

function parsear_subsecciones(retorno){
	document.getElementById("subsecciones").innerHTML=retorno;
}

function pedir_subsubsecciones(valor){
var id_seccion = valor;
	jsrsExecute("../modulos/secciones/include/include.remotescripting.php", parsear_subsubsecciones, "obtenerSubSubsecciones",Array(id_seccion));
}

function parsear_subsubsecciones(retorno){
	document.getElementById("subsubsecciones").innerHTML=retorno;
}
</script>
<!-- InstanceEndEditable -->
</head>

<body>
<div id="header"><h1>Administration</h1>
<div class="a">You are logged in as <b>{usuario}</b></div>
</div>


<script type="text/javascript" src="/admin/js/JSCookMenu.js"></script>
<script type="text/javascript" src="/admin/js/theme.js"></script>
<div id="myMenuID"></div>
<script language="JavaScript"><!--  
  var myMenu = [ 
    [null, 'Admin', null, null, null,
	    ['<img src="/admin/images/home.png" />', 'Home', '/admin/index.php', null, null],
	    ['<img src="/admin/images/shop.png" />', 'Catalog', '/', null, null],
	    ['<img src="/admin/images/configuration.png" />', 'Configuración', null, null, null,
			['<img src="/admin/images/setting.png" />', 'Configuración', '/admin/modulos/configuracion/index.php', null, null],
		    ['<img src="/admin/images/users.png" />', 'Users', null, null, null,
		      ['<img src="/admin/images/user.png" />', 'User', '/admin/modulos/usuarios/index.php', null, null],
		      ['<img src="/admin/images/user_group.png" />', 'User Group', '/admin/index.php?controller=user_group', null, null]
		    ],
		    ['<img src="/admin/images/localisation.png" />', 'Localisación', null, null, null,
		      ['<img src="/admin/images/language.png" />', 'Idiomas', '/admin/modulos/idiomas/index.php', null, null],
		      ['<img src="/admin/images/currency.png" />', 'Currency', '/admin/index.php?controller=currency', null, null],
		      ['<img src="/admin/images/order_status.png" />', 'Order Status', '/admin/index.php?controller=order_status', null, null],
			  ['<img src="/admin/images/country.png" />', 'Country', '/admin/index.php?controller=country', null, null],
		      ['<img src="/admin/images/zone.png" />', 'Zone', '/admin/index.php?controller=zone', null, null],
		      ['<img src="/admin/images/geo_zone.png" />', 'Geo Zone', '/admin/index.php?controller=geo_zone', null, null],
		      ['<img src="/admin/images/tax_class.png" />', 'Tax Class', '/admin/index.php?controller=tax_class', null, null],
		      ['<img src="/admin/images/weight_class.png" />', 'Weight Class', '/admin/index.php?controller=weight_class', null, null]
		    ],
		    ['<img src="/admin/images/url_alias.png" />', 'URL Alias', '/admin/index.php?controller=url_alias', null, null],
			['<img src="/admin/images/backup.png" />', 'Backup / Restore', '/admin/index.php?controller=backup', null, null],
		    ['<img src="/admin/images/server_info.png" />', 'Server Info', '/admin/index.php?controller=server_info', null, null]
			],			
	    ['<img src="/admin/images/logout.png" />', 'Logout', '/admin/index.php?controller=logout', null, null]
	  ],
	_cmSplit,	
	  [null, 'Módulos', null, null, null, 
	  <!-- BEGIN block_modulos_menu -->
	  	['<img src="/admin/images/{imagen}" />', '{nombre}', '/admin/modulos/{path}/index.php?action={action}', null, null],
	  <!-- END block_modulos_menu --> 
    ],
	_cmSplit,  
	  [null, 'Extensions', null, null, null, 	  
	    ['<img src="/admin/images/module.png" />', 'Module', '/admin/index.php?controller=extension&type=module', null, null],
		['<img src="/admin/images/shipping.png" />', 'Shipping', '/admin/index.php?controller=extension&type=shipping', null, null],
	    ['<img src="/admin/images/payment.png" />', 'Payment', '/admin/index.php?controller=extension&type=payment', null, null],
	    ['<img src="/admin/images/calculate.png" />', 'Calculate', '/admin/index.php?controller=extension&type=calculate', null, null]
    ],
	_cmSplit,	
	  [null, 'Customers', null, null, null, 	  
	    ['<img src="/admin/images/customer.png" />', 'Customer', '/admin/modulos/usuarios_sistema/index.php', null, null],
	    ['<img src="/admin/images/order.png" />', 'Order', '/admin/index.php?controller=order', null, null],
	    ['<img src="/admin/images/mail.png" />', 'Mail', '/admin/index.php?controller=mail', null, null],
		['<img src="/admin/images/newsletter.png" />', 'Newsletter', '/admin/index.php?controller=newsletter', null, null],
    ],	
	_cmSplit,	
	  [null, 'Reports', null, null, null, 	  
	    ['<img src="/admin/images/report.png" />', 'People Online', '/admin/index.php?controller=report_online', null, null],
	    ['<img src="/admin/images/report.png" />', 'Sales', '/admin/index.php?controller=report_sale', null, null],
	    ['<img src="/admin/images/report.png" />', 'Products Viewed', '/admin/index.php?controller=report_viewed', null, null],
	    ['<img src="/admin/images/report.png" />', 'Products Purchased', '/admin/index.php?controller=report_purchased', null, null],
    ]			
  ]
//-->
</script>
<script language="JavaScript"><!--
  cmDraw('myMenuID', myMenu, 'hbr', cmThemeDefault, 'ThemeDefault');
//--></script>

  <!-- InstanceBeginEditable name="menu" -->
  <div class="task">
  <div class="enabled" onmouseover="className='hover'" onmouseout="className='enabled'" onclick="location='/admin/modulos/secciones/index.php?action=listar_comentariosxsecciones'"><img src="../../images/list_enabled.png" alt="Listar" />Listar</div>
    <div class="enabled" onmouseover="className='hover'" onmouseout="className='enabled'" onclick="location='/admin/modulos/secciones/index.php?action=insertar_comentariosxsecciones'"><img src="../../images/insert_enabled.png" alt="Insertar" />Insertar</div>
    <div class="disabled"><img src="../../images/update_disabled.png" alt="Editar" />Editar</div>

  <div class="disabled"><img src="../../images/delete_disabled.png" alt="Borrar" />Borrar</div>
  <div class="disabled"><img src="../../images/save_disabled.png" alt="Guardar" />Guardar</div>
  <div class="disabled"><img src="../../images/cancel_disabled.png" alt="Cancelar" />Cancelar</div>
</div>
<div class="heading">{categoria_modulo}</div>
<div class="description">You can edit your product categories here.</div>
<div id="list">
    <!-- InstanceEndEditable -->
  <!-- InstanceBeginEditable name="contenido" -->

	 
	 
<form  action="/admin/modulos/secciones/index.php?action=insertar_comentariosxsecciones_ok" method="post">
  <div class="tab" id="tab">
    <div class="tabs"><a>General</a><a>Datos</a></div>
    <div class="pages">
      <div class="page">

        <div id="tabmini">
          <div class="tabs">
		  <!-- BEGIN block_idiomas -->
             <a>{idioma}</a>
		  <!-- END block_idiomas --> 
          </div>
          <div class="pages">
             <!-- BEGIN block_idiomas1 -->
			 <div class="page">
              <div class="minipad">
                <table>
				  <tr>
                    <td width="185"><span class="required">*</span> Nobre:</td>
                    <td><input id="nombre_{lenguaje1}" name="nombre_{lenguaje1}" value="" />
                      </td>
                  </tr>
				  <tr>
                    <td width="185"> Email:</td>
                    <td><input id="email_{lenguaje1}" name="email_{lenguaje1}" value="" />
                      </td>
                  </tr>				 
                  <tr>
                    <td valign="top"><span class="required">*</span>Comentario:</td>
                    <td><textarea name="comentario_{lenguaje1}" id="comentario_{lenguaje1}">{comentario}</textarea>
                      </td>
                  </tr>
                </table>
              </div>
            </div>
			<!-- END block_idiomas1 -->

            </div>
        </div>
      </div>
      <div class="page">
        <div class="pad">
          <table>
		  <tr>
                    <td valign="top"><span class="required">*</span>Sección</td>
                    <td>
						<select name="nombre_seccion" id="nombre_seccion" onChange="pedir_subsecciones(this.value);">
							<option value="0">Sin Sección Padre</option>
							<!-- BEGIN block_padre -->
							<option value="{id}" style="color:{color}">{nombre_padre}</option>
							<!-- END block_padre -->
						</select>
                      </td>
             </tr>
			 <tr>
					<td valign="top"><span class="required">*</span>Subsección</td>
                    <td id="subsecciones">{subsecciones}</td>
			 </tr>
			  <tr>
					<td valign="top"><span class="required">*</span>SubSubsección</td>
                    <td id="subsubsecciones">{subsubsecciones}</td>
			 </tr>
			<tr>
              <td width="185">Publicado:</td>
              <td><input id="publicado" name="publicado" type="checkbox" size="1" /></td>
            </tr>
			<tr>
              <td width="185">Fecha Publicación:</td>
              <td><input id="fecha_publicacion" name="fecha_publicacion" value="{orden}" size="12" type="text" />
			  			<input type="button" id="lanzador" style="background-image:url(../../images/calendario.gif);" />
						<!-- script que define y configura el calendario-->
						<script type="text/javascript">
						Calendar.setup({
						inputField : "fecha_publicacion", // id del campo de texto
						ifFormat : "%Y-%m-%d", // formato de la fecha que se escriba en el campo de texto
						button : "lanzador" // el id del botón que lanzará el calendario
						});
						</script>
			  </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
<div style="text-align:center">
	<input type="submit" value="Aceptar" onclick="actualizar();"/>
	<input type="reset" value="Cancelar" onclick="history.back(-1);" />
</div>	
  <script type="text/javascript"><!--
  tabview_initialize('tab');
  //--></script>
  <script type="text/javascript"><!--
  tabview_initialize('tabmini');
  //--></script>
  <script type="text/javascript"><!--
  function actualizar(){
	  <!-- BEGIN block_idiomas3 -->
	  	  var oFCKeditor_{lenguaje3} = FCKeditorAPI.GetInstance('comentario_{lenguaje3}') ;
		  var Mensaje=oFCKeditor_{lenguaje3}.GetXHTML(); 
		  document.getElementById('comentario_{lenguaje3}').value = Mensaje;
	  <!-- END block_idiomas3 -->
	  }
	  
  var sBasePath           = document.location.href.replace(/admin\/modulos\/secciones\/index\.php.*/, 'admin/js/fckeditor/');
    <!-- BEGIN block_idiomas2 -->
	var oFCKeditor          = new FCKeditor('comentario_{lenguaje2}');
	  oFCKeditor.BasePath = sBasePath;
	  oFCKeditor.Value	  = document.getElementById('comentario_{lenguaje2}').value;
	  oFCKeditor.Width    = '600';
	  oFCKeditor.Height   = '300';
	  oFCKeditor.ReplaceTextarea();
   <!-- END block_idiomas2 -->  	
  	  
  //--></script>
</form>
</div>
  <!-- InstanceEndEditable -->
  
</body>
<!-- InstanceEnd --></html>
