 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/plantilla_admin.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>{title} - {empresa}</title>
<!-- InstanceEndEditable -->

<link href="/admin/css/style.css" rel="stylesheet" type="text/css">
<link href="/admin/css/theme.css" rel="stylesheet" type="text/css">
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body>
<div id="header"><h1>Administration</h1>
<div class="a">You are logged in as <b>{usuario}</b></div>
</div>


<script type="text/javascript" src="/admin/js/JSCookMenu.js"></script>
<script type="text/javascript" src="/admin/js/theme.js"></script>
<div id="myMenuID"></div>
<script language="JavaScript"><!--  
  var myMenu = [ 
    [null, 'Admin', null, null, null,
	    ['<img src="/admin/images/home.png" />', 'Home', '/admin/index.php', null, null],
	    ['<img src="/admin/images/shop.png" />', 'Catalog', '/', null, null],
	    ['<img src="/admin/images/configuration.png" />', 'Configuración', null, null, null,
			['<img src="/admin/images/setting.png" />', 'Configuración', '/admin/modulos/configuracion/index.php', null, null],
		    ['<img src="/admin/images/users.png" />', 'Users', null, null, null,
		      ['<img src="/admin/images/user.png" />', 'User', '/admin/modulos/usuarios_sistema/index.php', null, null],
		      ['<img src="/admin/images/user_group.png" />', 'User Group', '/admin/index.php?controller=user_group', null, null]
		    ],
		    ['<img src="/admin/images/localisation.png" />', 'Localisación', null, null, null,
		      ['<img src="/admin/images/language.png" />', 'Idiomas', '/admin/modulos/idiomas/index.php', null, null],
		      ['<img src="/admin/images/currency.png" />', 'Currency', '/admin/index.php?controller=currency', null, null],
		      ['<img src="/admin/images/order_status.png" />', 'Order Status', '/admin/index.php?controller=order_status', null, null],
			  ['<img src="/admin/images/country.png" />', 'Country', '/admin/index.php?controller=country', null, null],
		      ['<img src="/admin/images/zone.png" />', 'Zone', '/admin/index.php?controller=zone', null, null],
		      ['<img src="/admin/images/geo_zone.png" />', 'Geo Zone', '/admin/index.php?controller=geo_zone', null, null],
		      ['<img src="/admin/images/tax_class.png" />', 'Tax Class', '/admin/index.php?controller=tax_class', null, null],
		      ['<img src="/admin/images/weight_class.png" />', 'Weight Class', '/admin/index.php?controller=weight_class', null, null]
		    ],
		    ['<img src="/admin/images/url_alias.png" />', 'URL Alias', '/admin/index.php?controller=url_alias', null, null],
			['<img src="/admin/images/backup.png" />', 'Backup / Restore', '/admin/index.php?controller=backup', null, null],
		    ['<img src="/admin/images/server_info.png" />', 'Server Info', '/admin/index.php?controller=server_info', null, null]
			],			
	    ['<img src="/admin/images/logout.png" />', 'Logout', '/admin/index.php?controller=logout', null, null]
	  ],
	_cmSplit,	
	  [null, 'Módulos', null, null, null, 
	  <!-- BEGIN block_modulos_menu -->
	  	['<img src="/admin/images/{imagen}" />', '{nombre}', '/admin/modulos/{path}/index.php?action={action}', null, null],
	  <!-- END block_modulos_menu --> 
    ],
	_cmSplit,  
	  [null, 'Extensions', null, null, null, 	  
	    ['<img src="/admin/images/module.png" />', 'Module', '/admin/index.php?controller=extension&type=module', null, null],
		['<img src="/admin/images/shipping.png" />', 'Shipping', '/admin/index.php?controller=extension&type=shipping', null, null],
	    ['<img src="/admin/images/payment.png" />', 'Payment', '/admin/index.php?controller=extension&type=payment', null, null],
	    ['<img src="/admin/images/calculate.png" />', 'Calculate', '/admin/index.php?controller=extension&type=calculate', null, null]
    ],
	_cmSplit,	
	  [null, 'Customers', null, null, null, 	  
	    ['<img src="/admin/images/customer.png" />', 'Customer', '/admin/modulos/usuarios_sistema/index.php', null, null],
	    ['<img src="/admin/images/order.png" />', 'Order', '/admin/index.php?controller=order', null, null],
	    ['<img src="/admin/images/mail.png" />', 'Mail', '/admin/index.php?controller=mail', null, null],
		['<img src="/admin/images/newsletter.png" />', 'Newsletter', '/admin/index.php?controller=newsletter', null, null],
    ],	
	_cmSplit,	
	  [null, 'Reports', null, null, null, 	  
	    ['<img src="/admin/images/report.png" />', 'People Online', '/admin/index.php?controller=report_online', null, null],
	    ['<img src="/admin/images/report.png" />', 'Sales', '/admin/index.php?controller=report_sale', null, null],
	    ['<img src="/admin/images/report.png" />', 'Products Viewed', '/admin/index.php?controller=report_viewed', null, null],
	    ['<img src="/admin/images/report.png" />', 'Products Purchased', '/admin/index.php?controller=report_purchased', null, null],
    ]			
  ]
//-->
</script>
<script language="JavaScript"><!--
  cmDraw('myMenuID', myMenu, 'hbr', cmThemeDefault, 'ThemeDefault');
//--></script>

  <!-- InstanceBeginEditable name="menu" -->
  <div class="task">
  <div class="enabled" onmouseover="className='hover'" onmouseout="className='enabled'" onclick="location='/admin/modulos/usuarios_sistema/index.php?action=listar_usuarios_sistema'"><img src="../../images/list_enabled.png" alt="Listar" />Listar</div>
    <div class="enabled" onmouseover="className='hover'" onmouseout="className='enabled'" onclick="location='/admin/modulos/usuarios_sistema/index.php?action=insertar_usuarios_sistema'"><img src="../../images/insert_enabled.png" alt="Insertar" />Insertar</div>
    <div class="disabled"><img src="../../images/update_disabled.png" alt="Editar" />Editar</div>

  <div class="disabled"><img src="../../images/delete_disabled.png" alt="Borrar" />Borrar</div>
  <div class="disabled"><img src="../../images/save_disabled.png" alt="Guardar" />Guardar</div>
  <div class="disabled"><img src="../../images/cancel_disabled.png" alt="Cancelar" />Cancelar</div>
</div>
<div class="heading">{categoria_modulo}</div>
<div class="description">You can edit your product categories here.</div>
<div id="list">
    <table class="a">
<form id="form" method="get" action="../../Copia de usuarios_sistema/templates/index.php?action=newsletters" >
	<input type="hidden" id="action" name="action" value="{action}" />
 	<tr>
      <td class="c">Page <select id="page" name="page" onchange="submit()">
                   <!-- BEGIN block_paginas -->
				   <option id="page" value="{nro_pag}" {selected_pag}>{nro_pag}</option>
				   <!-- END block_paginas -->
             </select></td>
      <td class="d">
          Results {page} of {cant_pages} pages
        </td>

      <td class="e">
          Search           <input type="input" name="search" value="" />
        </td>
    </tr>
	</form>
  </table>
  <!-- InstanceEndEditable -->
  <!-- InstanceBeginEditable name="contenido" -->
  <table class="list">
    <tr>
            <th class="center"></th>
			<th class="left">Apellido</th>

            <th class="left">                
			<form action="/admin/index.php?controller=category&action=page" method="post" enctype="multipart/form-data" onclick="this.submit();">
          Nombre                    
		  <input type="hidden" name="sort" value="cd.name" />
        </form>
             </th>
			 <th class="left">Email</th>
			 <th class="left">Comercio?</th>
              <th class="right">                Action                      </th>
          </tr>
		  <!-- BEGIN block_usuarios_sistema -->
            <tr class="row1" onmouseover="this.className='highlight'" onmouseout="this.className='row1'">
                  <td width="30" class="center">
				  	<a href="/admin/modulos/usuarios_sistema/index.php?action=editar_usuarios_sistema&id_usuario={id_usuario}"><img src="../../images/folder.png" /></a></td>
					<td class="left">{apellido_usuario}</td>
                        <td class="left">{nombre_usuario}</td>
						<td class="left">{email_usuario}</td>
						<td class="left">{comercio_usuario}</td>
                         <td class="right">
							<a href="/admin/modulos/usuarios_sistema/index.php?action=editar_usuarios_sistema&id_usuario={id_usuario}"><img src="../../images/update.png" alt="Update" title="Update" /></a>
                			<a href="/admin/modulos/usuarios_sistema/index.php?action=eliminar_usuarios_sistema&id_usuario={id_usuario}"><img src="../../images/delete.png" alt="Delete" title="Delete" /></a>
       					 </td>
                </tr>
			<!-- END block_usuarios_sistema -->
            
      </table>
	  </div>
  <!-- InstanceEndEditable -->
  
</body>
<!-- InstanceEnd --></html>
