<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:fb="http://ogp.me/ns/fb#" xmlns="http://www.w3.org/1999/xhtml" xml:lang="{idioma}"><!-- InstanceBegin template="/Templates/plantilla.dwt" codeOutsideHTMLIsLocked="false" -->
<head> 
      <link rel="shortcut icon" href="/images/favicon.ico" >   
<!-- InstanceBeginEditable name="doctitle" -->
<title>{title} - {title_empresa}</title>
<!-- InstanceEndEditable -->

<meta http-equiv="Content-Type" content="text/html; charset={charset}" />
<!-- InstanceBeginEditable name="head" -->
<link href="/admin/css/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/admin/css/tab/tab.js"></script>
<link rel="stylesheet" type="text/css" href="/admin/css/tab/tab.css" />
<script type="text/javascript" src="/admin/js/fckeditor/fckeditor.js"></script>
<script type="text/javascript" src="/admin/js/jsrsClient.js"></script>
<script type="text/javascript" src="/admin/js/funciones_generales.js"></script>
<script type="text/javascript" src="/js/funciones.js"></script>
<script type="text/javascript">
function pedir_subsecciones(valor){
var id_subseccion = valor;
	jsrsExecute("../modulos/productos/include/include.remotescripting.php", parsear_subsecciones, "obtenerSubsecciones",Array(id_subseccion));
}

function parsear_subsecciones(retorno){
	document.getElementById("subsecciones").innerHTML=retorno;
}
</script>

<!-- InstanceEndEditable -->

<meta name="Keywords" content="{keywords}" />
<meta name="Description" content="{titulo} - {description}" />
<meta name="DC.Title" content="{title}" />
<meta http-equiv="DC.Description" content="{titulo} - {description}" />
<meta name="DC.Keywords" content="{keywords}" />
<meta name="Language" content="{idioma}" />
<meta name="robots" content="all" />
<meta name="revisit-after" content="30 days" />
<meta name="distribution" content="global" />
<meta name="resource-type" content="document" />
<meta name="robots" content="all" />

<meta name="copyright" content="Copyright ? - Alejandro Javier Doglioli" />

<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/{idioma}/feed" /> 
     
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<script type="text/JavaScript" src="/js/funciones.js"></script>

<!--[if IE]> 
<style>
#blog {padding-top: 30px;}
#blog h2{padding-left: 40px;padding-bottom: 30px;}
</style> <![endif]-->
</head>
<body {onload} >
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div id="contenedorlinksuperior">
	<div id="linksuperior">
		<ul>
			<li style="margin-left:10px;">
				<!-- BEGIN block_idiomas -->
				<p><a href="/{idioma_bandera}/" title="{nombre_idioma}"><img src="{image_idioma}" alt="{nombre_idioma}"/></a></p>
				<!-- END block_idiomas -->
			</li>
			<li>{link_login_salir}</li>
			<li>Bienvenido a {empresa} {usuario_logueado}|</li>
            
		</ul>
   
	</div>
</div>
<div id="wrapper">
	<div id="header-frontend">
	  <div id="logo"> 
			<b><a href="/" title="{empresa}"><img src="/images/logootro.jpg" alt="Campo-Vende" width="190" height="150" /></a></b>
    		<!--<b>{empresa}</b>
			<p><em>{slogan}</em></p> -->
		</div>
         <div align="center"> 
         <ul>         		
          <li style="float:left"> 
         <iframe align="right" width="320" height="47" scrolling="no" src="http://pagina-del-dia.euroresidentes.es/gadget-dia-de-hoyH.php?fondo=Azul.png&texto=FFFFFF" frameborder="0"></iframe>
         </li>
			<li style="float:right;">
						<div id="search">
			<form method="post" action="/{idioma}/buscar/">
					<div>                          
						<input type="text" name="texto" id="texto" size="20" value="Busca en {empresa}..." onfocus="if (this.value == 'Busca en {empresa}...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Busca en {empresa}...';}"/>
						<input type="submit" class="botonbuscar" value="{traduccion_buscar}" />
					</div>
				</form>
			</div>

			</li>
         </ul>
         </div>     
		<div id="menu">
        
			<ul>
            
			<li style="width:100%;margin-bottom:50px;"></li>
<!-- BEGIN block_menu_principal -->
					<li  class="{classmenu}"><a href="{path}" title="{seccion}" >{seccion}</a>
						{subseccion}				</li>
					<!-- END block_menu_principal -->
					<!-- BEGIN block_menu_principal_modulo -->
					<li class="{classmenu}"><a href="{path}" title="{seccion}" >{seccion}</a></li>
					<!-- END block_menu_principal_modulo -->
					<li class="{classmenucontacto}"><a href="/{idioma}/contacto.htm" rel="nofollow" title="{traduccion_contacto}">{traduccion_contacto}</a></li>
					<li class="{classmenumapaweb}"><a href="/{idioma}/mapaweb.htm" title="{traduccion_mapaweb}">{traduccion_mapaweb}</a></li>
				</ul>
		</div>	
		<div style="clear:both"></div>	
	</div>
	<!-- end #header -->
	
	<!-- end #menu -->
	<div id="page">
		<div id="content">
			
			<div id="breadcrumb"><a href="/{idioma}/" title="Home">Home</a><!-- InstanceBeginEditable name="BreadCrumb" -->{breadcrum}<!-- InstanceEndEditable --></div>
			<div class="post">
				
				
				<h1 class="title">{titulo}</h1>			

				<!-- InstanceBeginEditable name="contenido" -->
<div class="task">
   <div class="enabled" onmouseover="className='hover'" onmouseout="className='enabled'" onclick="location='/{idioma}/listar_productoxusuario'"><img src="/admin/images/list_enabled.png" alt="Listar" />Listar</div>
    <div class="enabled" onmouseover="className='hover'" onmouseout="className='enabled'" onclick="location='/{idioma}/insertar_productoxusuario'"><img src="/admin/images/insert_enabled.png" alt="Insertar" />Insertar</div>
  <div class="enabled" onmouseover="className='hover'" onmouseout="className='enabled'" onclick="location='/{idioma}/logout_productoxusuario'"><img src="/admin/images/logout.png" alt="Salir" />Salir</div>
</div>


<div style="width:100%">
<div id="container"> 
  <div class="titulo">    
     <h2>Editar Publicacion</h2>
  </div>
  
  <div id="contenido"> 
  <div>


<form id="forminsertarproducto" action="/{idioma}/editar_productoxusuario_ok/{id_producto}" method="post" enctype="multipart/form-data">
  <input type="hidden" id="id_producto" name="id_producto" value="{id_producto}" />
  <input type="hidden" id="cant_imagenes" name="cant_imagenes" value="{cant_imagenes}" />
 		  <!-- BEGIN block_idioma -->
          
		  <!-- END block_idioma --> 
    	  
         
             <!-- BEGIN block_idiomas1 -->
             <!-- END block_idiomas1 -->
			 <div class="formcomentario campo">
                <table>
				  <tr>
                    <td width="80"><p style="text-align:right"><span class="required">*</span>Titulo:</td>
                    <td><input id="titulo_{lenguaje1}" name="titulo_{lenguaje1}" value="{titulo}" style="width:250px;" />
                      </p></td>
                  </tr>
                  	<tr>
                  <td valign="top"><p style="text-align:right"><span class="required">*</span>Categoria</td>
                    <td>
						<select name="nombre_padre" id="nombre_padre" onChange="pedir_subsecciones(this.value);" style="width:250px;">
							<option value="0">Sin categor&iacute;a Padre</option>
							<!-- BEGIN block_padre -->
							<option value="{id_padre}" {selected}>{nombre_padre}</option>
							<!-- END block_padre -->
						</select>
                      </td>
             </tr>
                  <tr>
                     <td valign="top"><p style="text-align:right"><span class="required">*</span>Descripción:</td>
                    <td><textarea name="contenido_{lenguaje1}" id="contenido_{lenguaje1}">{contenido}</textarea>
                      </td>
                  </tr>
                </table>
             
			

       
          <table>
		  
			 <!--tr>
                  <td valign="top">Subcategor?a Padre:</td>
                    <td id="subsecciones">
						<select id="nombre_subseccion" name="nombre_subseccion">
							<option id="0" name="0" value="0" >Sin Subcategor&iacute;a Padre</option-->
							<!-- BEGIN block_spadre -->
							<!--option value="{id_sub_padre}" {selected_sub}>{nombre_sub_padre}</option-->
							<!-- END block_spadre -->
						<!--/select>
                      </td>
             </tr-->
			<tr>
                       <td width="80"><p style="text-align:right"><span class="required">*</span>Tipo:</td>
                       <td><select id="tipoproducto" class="venta" name="tipoproducto" style="width:150px;">
							<!-- BEGIN block_tproducto -->
							<option value="{id_tipoproducto}">{nombre_tipoproducto}</option>
							<!-- END block_tproducto -->
							</select>
						</td>   
                    </tr>
                    
                     <tr>
                       <td width="80"><p style="text-align:right">Precio:</td>
                       <td><select id="tipo" class="venta" name="tipo">
						   <!-- BEGIN block_moneda -->
							<option value="{id_moneda}">{simbolo_moneda}</option>
							<!-- END block_moneda -->                            
							</select>
                            <input  name="precio" id="precio" type="text" value="" style="width:90px; ">
						</td>   
                    </tr>

			<tr>
				
			</tr>
			<!-- BEGIN block_imagenes -->
			<tr>
				<td colspan="2">
					<div id="my{nro}Div" style=" width:80%;  padding:7px 0px; clear:both">
							<input type="hidden" id="id_imagen_{nro}" name="id_imagen_{nro}" value="{id_imagen}" />
						 <table cellpadding="0" cellspacing="1" border="0" style="border:1px solid #dcdcdc;padding:10px;">
                         
								<tr>
								<td valign="top"><p style="text-align:right">Imagen:</td>
									<td>
										<input name="path_imagen_{nro}" id="path_imagen_{nro}" value="{path_imagen}" type="file" size="50"  />
										<input name="path_imagen_existente_{nro}" id="path_imagen_existente_{nro}" value="{path_imagen}" type="hidden" />
									</td></p>
								</tr>
								<tr>
									<td valign="top" width="100"><p style="text-align:right">Descripcion:</td>
									<td><input name="nombre_imagen_{nro}" id="nombre_imagen_{nro}" value="{nombre_imagen}" type="text" size="50"  /></td></p>
								</tr>
                        		<tr>
									<td valign="top"><p style="text-align:right">Principal?</td>
									<td><input name="principio_imagen_{nro}" id="principio_imagen_{nro}"  type="checkbox"  {checked_principio_imagen} /></td></p>
								</tr>
								<!--tr>
									<td valign="top">Publicado</td>
									<td><input name="publicado_imagen_{nro}" id="publicado_imagen_{nro}"  type="checkbox"  {checked_publicado_imagen} /></td>
								</tr-->
								<tr><td><img src="{path_imagen}" alt="{nombre_imagen}" width="85" height="85"/></td></tr>
							</table>
						  </div>
				</td>
			</tr>
				  
				   <!-- END block_imagenes -->
				  <tr><td colspan="2"><a href="#" title="Eliminar ?ltima" onClick="var c=document.getElementById('cant_imagenes').value; eliminarFoto(c); return false;" style="text-decoration:underline;">Eliminar ultima</a> - <a href="#" title="A?adir m?s Im?genes" onClick="addFoto(document.getElementById('cant_imagenes').value); return false;" style="text-decoration:underline;">A?adir mqs Imagenes</a></td></tr>
          </table>
        </div>
</div>
            </div>
   
  </div>
<div style="text-align:center">
	<input class="botongrande" value="Aceptar" onclick="validarFormularioInsertarProductoxusuario();" style="text-align:center"/>

</div>	
  <script type="text/javascript"><!--
  tabview_initialize('tab');
  //--></script>
  <script type="text/javascript"><!--
  tabview_initialize('tabmini');
  //--></script>
  <script type="text/javascript"><!--
  
  function actualizar(){
	  <!-- BEGIN block_idiomas3 -->
	  	  var oFCKeditor_{lenguaje3} = FCKeditorAPI.GetInstance('contenido_{lenguaje3}') ;
		  var Mensaje=oFCKeditor_{lenguaje3}.GetXHTML(); 
		  document.getElementById('contenido_{lenguaje3}').value = Mensaje;
	  <!-- END block_idiomas3 -->
	  }
	  
  var sBasePath           = document.location.href.replace(/es\/editar_productoxusuario\/{id_producto}\.*/, 'admin/js/fckeditor/');
    <!-- BEGIN block_idiomas2 -->
	var oFCKeditor          = new FCKeditor('contenido_{lenguaje2}');
	  oFCKeditor.BasePath = sBasePath;
	  oFCKeditor.Value	  = document.getElementById('contenido_{lenguaje2}').value;
	  oFCKeditor.Width    = '570';
	  oFCKeditor.Height   = '300';
	  oFCKeditor.ReplaceTextarea();
   <!-- END block_idiomas2 -->  	
  	  
  //--></script>
</form>
</div>

	<!-- InstanceEndEditable -->
				
				<!-- InstanceBeginEditable name="noticias" --><!-- InstanceEndEditable -->
				
				
			</div>
			<div style="clear: both;">&nbsp;
			  <p>&nbsp;</p>
			</div>
		</div>
		<!-- end #content -->
		<div id="sidebar">
					
		    <ul id="menulateral">
				
				<li>
					<h2>{traduccion_secciones} {categoria_seccion}</h2>
					<ul id="lotes">
						<!-- BEGIN block_secciones -->
						<li {onmouse} >
						<a href="{path}" title="{seccion}" class="{classmenulateral}">{seccion}</a>
						{submenu}
						</li>
						<!-- END block_secciones -->
					</ul>
				</li>
			</ul>
			<!--ul>	
				<li>
					<div class="menu">
					  <h2>Newsletter</h2>
						<h3>{traduccion_slogannewsletter}</h3>
						<form action="/{idioma}/gracias-newsletter.htm" name="formnewsletter" id="formnewsletter" enctype="multipart/form-data" method="post">
						<p class="center"><label>Nombre:</label> <input id="nombre_contacto" name="nombre_contacto" type="text"/></p>
						<p class="center"><label>Apellido:</label> <input id="apellido_contacto" name="apellido_contacto" type="text" /></p>
						<p class="center"><label>Email:</label> <input id="email_contacto" name="email_contacto" type="text" /></p>
						<p class="center" style="margin-top:10px;"><input type="button" value="Subscribirse" class="boton" onclick="validarFormNewsletter()" /></p>
						</form>
					</div>	
				</li>
			</ul-->
			<ul>	
				<li>
					<div class="menu">
						<h2>{traduccion_etiquetas}</h2>
						<p class="tag">
							<!-- BEGIN tags -->
							<a href="/{idioma}/{enlace}.htm" title="{anchortag}" style="font-size:{tam}" >{anchortag}</a>
							<!-- END tags -->
						</p>
					</div>
				</li>
			</ul>			  
			<ul>
			  <li>
					<h2>Cotización Dolar</h2>
			  </li> 
<!-- Inicio Codigo DolarAlDia.com --> 
<!--script language="JavaScript" src="http://www.dolaraldia.com/rss/botoncotizaciones.php" type="text/javascript">
</script><!-- Fin DolarAlDia.com --> 


<div id="preciodolar-ar1"><h2><a href="http://www.preciodolar.com">Precio del dolar</a></h2><a href="http://www.preciodolar.com/cotizacion-del-dolar">Cotizacion del dolar</a></div><script type="text/javascript" src="http://www.preciodolar.com/js/get_preciodolar_ar1.js"></script>


          </ul>
      </div>
		
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
			
			</div>
	</div>
	<!-- end #page -->

<div id="footer-content">
	<div class="column1">
    
		<p id="copyright">{traduccion_copyright} <br />	{traduccion_disenadopor} <a href="http://www.alejandro-doglioli.com.ar/">Alejandro Doglioli</a></p>
	</div>
    <div class="columnmedio">
    <fb:like href="http://prod.campo-vende.com.ar" send="true" layout="button_count" width="300" show_faces="true" action="recommend" font="lucida grande"></fb:like>
    </div>
	<div class="column2">
    
		<ul class="list">
			<li><a href="/{idioma}/feed" title="RSS"><img src="/images/rss.jpg" alt="RSS" width="60" /></a></li>
			<li><a href="http://validator.w3.org/check?uri={url_actual}" title="Valid HTML 4.01 Transitional"><img src="http://validator.w3.org/images/valid_icons/valid-xhtml10" alt="Valid HTML 4.01 Transitional" title="Valid XHTML 1.0 Transitional" /></a></li>
			<li><a href="http://jigsaw.w3.org/css-validator/check?uri=www.deviajeyturismo.com" title="CSS V?lido"><img src="http://jigsaw.w3.org/css-validator/images/vcss" alt="?CSS V?lido!" title="?CSS V?lido!" /></a></li>
		</ul>
	</div>
</div>
<!-- end #footer -->


<!--Estadisticas-->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2581103-17']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!--Fin estadisticas-->
</body>
<!-- InstanceEnd --></html>
