<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:fb="http://ogp.me/ns/fb#" xmlns="http://www.w3.org/1999/xhtml" xml:lang="{idioma}"><!-- InstanceBegin template="/Templates/plantilla.dwt" codeOutsideHTMLIsLocked="false" -->
<head> 
      <link rel="shortcut icon" href="/images/favicon.ico" >   
<!-- InstanceBeginEditable name="doctitle" -->
<title>{title} - {title_empresa}</title>
<!-- InstanceEndEditable -->

<meta http-equiv="Content-Type" content="text/html; charset={charset}" />
<!-- InstanceBeginEditable name="head" -->

<link href="/admin/css/style.css" rel="stylesheet" type="text/css">


<link rel="stylesheet" href="/js/jquery/css/ui-lightness/jquery-ui-1.8.17.custom.css" type="text/css" media="all" />
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
        <script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js" type="text/javascript"></script>
        <script src="/js/jquery/js/responder_pregunta.js"></script>
	  
<!-- InstanceEndEditable -->

<meta name="Keywords" content="{keywords}" />
<meta name="Description" content="{titulo} - {description}" />
<meta name="DC.Title" content="{title}" />
<meta http-equiv="DC.Description" content="{titulo} - {description}" />
<meta name="DC.Keywords" content="{keywords}" />
<meta name="Language" content="{idioma}" />
<meta name="robots" content="all" />
<meta name="revisit-after" content="30 days" />
<meta name="distribution" content="global" />
<meta name="resource-type" content="document" />
<meta name="robots" content="all" />

<meta name="copyright" content="Copyright ? - Alejandro Javier Doglioli" />

<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/{idioma}/feed" /> 
     
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<script type="text/JavaScript" src="/js/funciones.js"></script>

<!--[if IE]> 
<style>
#blog {padding-top: 30px;}
#blog h2{padding-left: 40px;padding-bottom: 30px;}
</style> <![endif]-->
</head>
<body {onload} >
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div id="contenedorlinksuperior">
	<div id="linksuperior">
		<ul>
			<li style="margin-left:10px;">
				<!-- BEGIN block_idiomas -->
				<p><a href="/{idioma_bandera}/" title="{nombre_idioma}"><img src="{image_idioma}" alt="{nombre_idioma}"/></a></p>
				<!-- END block_idiomas -->
			</li>
			<li>{link_login_salir}</li>
			<li>Bienvenido a {empresa} {usuario_logueado}|</li>
            
		</ul>
   
	</div>
</div>
<div id="wrapper">
	<div id="header-frontend">
	  <div id="logo"> 
			<b><a href="/" title="{empresa}"><img src="/images/logootro.jpg" alt="Campo-Vende" width="190" height="150" /></a></b>
    		<!--<b>{empresa}</b>
			<p><em>{slogan}</em></p> -->
		</div>
         <div align="center"> 
         <ul>         		
          <li style="float:left"> 
         <iframe align="right" width="320" height="47" scrolling="no" src="http://pagina-del-dia.euroresidentes.es/gadget-dia-de-hoyH.php?fondo=Azul.png&texto=FFFFFF" frameborder="0"></iframe>
         </li>
			<li style="float:right;">
						<div id="search">
			<form method="post" action="/{idioma}/buscar/">
					<div>                          
						<input type="text" name="texto" id="texto" size="20" value="Busca en {empresa}..." onfocus="if (this.value == 'Busca en {empresa}...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Busca en {empresa}...';}"/>
						<input type="submit" class="botonbuscar" value="{traduccion_buscar}" />
					</div>
				</form>
			</div>

			</li>
         </ul>
         </div>     
		<div id="menu">
        
			<ul>
            
			<li style="width:100%;margin-bottom:50px;"></li>
<!-- BEGIN block_menu_principal -->
					<li  class="{classmenu}"><a href="{path}" title="{seccion}" >{seccion}</a>
						{subseccion}				</li>
					<!-- END block_menu_principal -->
					<!-- BEGIN block_menu_principal_modulo -->
					<li class="{classmenu}"><a href="{path}" title="{seccion}" >{seccion}</a></li>
					<!-- END block_menu_principal_modulo -->
					<li class="{classmenucontacto}"><a href="/{idioma}/contacto.htm" rel="nofollow" title="{traduccion_contacto}">{traduccion_contacto}</a></li>
					<li class="{classmenumapaweb}"><a href="/{idioma}/mapaweb.htm" title="{traduccion_mapaweb}">{traduccion_mapaweb}</a></li>
				</ul>
		</div>	
		<div style="clear:both"></div>	
	</div>
	<!-- end #header -->
	
	<!-- end #menu -->
	<div id="page">
		<div id="content">
			
			<div id="breadcrumb"><a href="/{idioma}/" title="Home">Home</a><!-- InstanceBeginEditable name="BreadCrumb" -->{breadcrum}<!-- InstanceEndEditable --></div>
			<div class="post">
				
				
				<h1 class="title">{titulo}</h1>			

				<!-- InstanceBeginEditable name="contenido" -->
									<!--div class="task">
  <div class="enabled" onmouseover="className='hover'" onmouseout="className='enabled'" onclick="location='/{idioma}/listarpregunta_productoxusuario/{id_producto}'"><img src="/admin/images/list_enabled.png" alt="listarpregunta" />Listar</div>
    <div class="disabled"><img src="/admin/images/insert_enabled.png" alt="incertarpregunta" />Incertar</div>
    <div class="disabled"><img src="/admin/images/update_disabled.png" alt="editarpregunta" />Editar</div>

  <div class="disabled"><img src="/admin/images/delete_disabled.png" alt="Borrar" />Borrar</div>
  <div class="disabled"><img src="/admin/images/save_disabled.png" alt="Guardar" />Guardar</div>
  <div class="disabled"><img src="/admin/images/cancel_disabled.png" alt="Cancelar" />Cancelar</div>
  <div class="enabled" onmouseover="className='hover'" onmouseout="className='enabled'" onclick="location='/{idioma}/logout_productoxusuario'"><img src="/admin/images/logout.png" alt="Salir" />Salir</div>
</div>
<div class="heading">{nombre_producto}</div>
<div class="description">You can edit your product categories here.</div-->

<div style="width:100%">
<table style="border-bottom:3px solid #30559C;width:100%;">
 <tr>
  <td style="width:200px"><a href="/{idioma}/insertar_productoxusuario">Publicar Nuevo</a></td>
  <td width="70%"> </td>
  <td style="float:right"><a href="/{idioma}/logout_productoxusuario">Salir</a></td>
  </tr>
  </table>
 
<div id="list">
 <table class="a">
<form method="post" action="/{idioma}/listarpregunta_productoxusuario" id="formSearch">
	<input type="hidden" id="action" name="action" value="{action}" />
	<tr>
		<td class="c">
				Preguntas por Producto
				<select id="id_producto" name="id_producto" onchange="document.location.href='/{idioma}/listarpregunta_productoxusuario/'+this.value">
					<option id="padre_todos" name="padre_todos" value="0">Todos</option>
					<!-- BEGIN block_padre -->
					<option id="producto_{id_padre}" name="producto_{id_padre}" value="{id_padre}" {selected_producto} style="color:{color}">{nombre_padre}</option>
					<!-- END block_padre -->
				</select>
		</td>
      <!-- <td class="c">Page <select id="page" name="page" onchange="submit()">
                   <!-- BEGIN block_paginas -->
				   <!--<option id="page" value="{nro_pag}" {selected_pag}>{nro_pag}</option> -->
				   <!-- END block_paginas -->
             <!-- </select></td>-->
              
          </tr>
	</form>
  </table>
  
 {page} de {cant_pages} paginas
  <table class="list">
    <tr>
            <th class="center" width="200">                
			<form action="/admin/index.php?controller=category&action=page" method="post" enctype="multipart/form-data" onclick="this.submit();">
         Nombre cliente                
		  <input type="hidden" name="sort" value="cd.name" />
        </form>
             </th>
			 <th class="center" width="220">Comentario</th>
			 <th class="center" width="175">Respuesta</th>
			 <th class="center" >Publicado?</th>
              <th class="center" width="70">                Action                      </th>
          </tr>
		  <!-- BEGIN block_comentariosproductos -->
            <tr class="row1" onmouseover="this.className='highlight'" onmouseout="this.className='row1'" height="75">
                        <td class="center" width="150">{nombre_cliente}</td>
						<td class="center" width="175">{comentario}</td>
						<td class="center" width="175">{respuesta}</td>
						<td class="center" >{publicado_comentario}</td>
                         <td class="center">
							<a href="/{idioma}/editarpregunta_productoxusuario/{id_comentario}"><img src="/admin/images/nedit.png" alt="Editar" title="Editar" /></a>                           
                			<a href="/{idioma}/eliminarpregunta_productoxusuario/{id_comentario}"><img src="/admin/images/ndelete.png" alt="Borrar" title="Borrar" /></a>
						 </td>
                </tr>
			<!-- END block_comentariosproductos -->
			         
      </table>
	  </div>
      
      
      
      
      
      <!--div id="dialog-form" title="Responder Pregunta">
	<p class="validateTips">Complete los Campos requeridos</p>
<form action="/{idioma}/editarpregunta_productoxusuario_ok/{id_comentario}" method="post"  enctype="multipart/form-data" class="comments" id="responderPregunta">	
								<ul>
									<li>Usuario:<br/><input id="nombre_cliente" name="nombre_cliente" value="{nombre_cliente}" disabled="disabled" /></li>
									<li>Fecha Publicacion:<br/><input id="fecha_publicacion" name="fecha_publicacion" value="{fecha_publicacion}" disabled="disabled" /></li>								
									<li>Pregunta:<br/><textarea name="pregunta_cliente" id="pregunta_cliente" disabled="disabled" rows="10" cols="50">{comentario}</textarea></li>
									<li>Respuesta:<br/><textarea name="respuesta_usuario" id="respuesta_usuario" rows="10" cols="50">{respuesta}</textarea></li>							
								</ul>
					  </form>                                                        
</div-->
      
      
      
      
      </div>
	<!-- InstanceEndEditable -->
				
				<!-- InstanceBeginEditable name="noticias" --><!-- InstanceEndEditable -->
				
				
			</div>
			<div style="clear: both;">&nbsp;
			  <p>&nbsp;</p>
			</div>
		</div>
		<!-- end #content -->
		<div id="sidebar">
					
		    <ul id="menulateral">
				
				<li>
					<h2>{traduccion_secciones} {categoria_seccion}</h2>
					<ul id="lotes">
						<!-- BEGIN block_secciones -->
						<li {onmouse} >
						<a href="{path}" title="{seccion}" class="{classmenulateral}">{seccion}</a>
						{submenu}
						</li>
						<!-- END block_secciones -->
					</ul>
				</li>
			</ul>
			<!--ul>	
				<li>
					<div class="menu">
					  <h2>Newsletter</h2>
						<h3>{traduccion_slogannewsletter}</h3>
						<form action="/{idioma}/gracias-newsletter.htm" name="formnewsletter" id="formnewsletter" enctype="multipart/form-data" method="post">
						<p class="center"><label>Nombre:</label> <input id="nombre_contacto" name="nombre_contacto" type="text"/></p>
						<p class="center"><label>Apellido:</label> <input id="apellido_contacto" name="apellido_contacto" type="text" /></p>
						<p class="center"><label>Email:</label> <input id="email_contacto" name="email_contacto" type="text" /></p>
						<p class="center" style="margin-top:10px;"><input type="button" value="Subscribirse" class="boton" onclick="validarFormNewsletter()" /></p>
						</form>
					</div>	
				</li>
			</ul-->
			<ul>	
				<li>
					<div class="menu">
						<h2>{traduccion_etiquetas}</h2>
						<p class="tag">
							<!-- BEGIN tags -->
							<a href="/{idioma}/{enlace}.htm" title="{anchortag}" style="font-size:{tam}" >{anchortag}</a>
							<!-- END tags -->
						</p>
					</div>
				</li>
			</ul>			  
			<ul>
			  <li>
					<h2>Cotización Dolar</h2>
			  </li> 
<!-- Inicio Codigo DolarAlDia.com --> 
<!--script language="JavaScript" src="http://www.dolaraldia.com/rss/botoncotizaciones.php" type="text/javascript">
</script><!-- Fin DolarAlDia.com --> 


<div id="preciodolar-ar1"><h2><a href="http://www.preciodolar.com">Precio del dolar</a></h2><a href="http://www.preciodolar.com/cotizacion-del-dolar">Cotizacion del dolar</a></div><script type="text/javascript" src="http://www.preciodolar.com/js/get_preciodolar_ar1.js"></script>


          </ul>
      </div>
		
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
			
			</div>
	</div>
	<!-- end #page -->

<div id="footer-content">
	<div class="column1">
    
		<p id="copyright">{traduccion_copyright} <br />	{traduccion_disenadopor} <a href="http://www.alejandro-doglioli.com.ar/">Alejandro Doglioli</a></p>
	</div>
    <div class="columnmedio">
    <fb:like href="http://prod.campo-vende.com.ar" send="true" layout="button_count" width="300" show_faces="true" action="recommend" font="lucida grande"></fb:like>
    </div>
	<div class="column2">
    
		<ul class="list">
			<li><a href="/{idioma}/feed" title="RSS"><img src="/images/rss.jpg" alt="RSS" width="60" /></a></li>
			<li><a href="http://validator.w3.org/check?uri={url_actual}" title="Valid HTML 4.01 Transitional"><img src="http://validator.w3.org/images/valid_icons/valid-xhtml10" alt="Valid HTML 4.01 Transitional" title="Valid XHTML 1.0 Transitional" /></a></li>
			<li><a href="http://jigsaw.w3.org/css-validator/check?uri=www.deviajeyturismo.com" title="CSS V?lido"><img src="http://jigsaw.w3.org/css-validator/images/vcss" alt="?CSS V?lido!" title="?CSS V?lido!" /></a></li>
		</ul>
	</div>
</div>
<!-- end #footer -->


<!--Estadisticas-->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2581103-17']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!--Fin estadisticas-->
</body>
<!-- InstanceEnd --></html>
