<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:fb="http://ogp.me/ns/fb#" xmlns="http://www.w3.org/1999/xhtml" xml:lang="{idioma}"><!-- InstanceBegin template="/Templates/plantilla.dwt" codeOutsideHTMLIsLocked="false" -->
<head> 
      <link rel="shortcut icon" href="/images/favicon.ico" >   
<!-- InstanceBeginEditable name="doctitle" -->
<title>{title} - {title_empresa}</title>
		<link rel="stylesheet" href="/js/jquery/css/ui-lightness/jquery-ui-1.8.17.custom.css" type="text/css" media="all" />
        <script>
         var existe=false;
        </script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
        <script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js" type="text/javascript"></script>
        <script src="/js/jquery/js/formulario_registrarse.js"></script>
        <script src="/js/jquery/js/olvidepass.js"></script>
        <script src="/js/jquery/js/alerta.js"></script>

	    <script type="text/javascript" src="/admin/js/jsrsClient.js"></script>
		
		<script>
		
		
		
		
		
		
	$(function() {	
		var id;
		// a workaround for a flaw in the demo system (http://dev.jqueryui.com/ticket/4375), ignore!
		var email = $( "#email_usuario" ),		
			pass = $( "#password_usuario" ),
			tips = $( ".validateTips" );
			
	function validarusuario(email){
	    id = jsrsExecute("../../modulos/usuarios_sistema/include/include.remotescriptinglogin.php", parsear_error, "recuperarEmail",email.val(),true);
    }

	function parsear_error(retorno){
		if (retorno==1){
			 existe = true;		
		 }else{
			existe = false;
		 }
		validartodo(existe);
		}
		
	function checkmailvalid(valido,o){

		if(!valido){
      	   o.addClass( "ui-state-error" );
			 updateTips( " '"+o.val()+"'" + " no se encuentra registrado");
			 return false;
		}else{return true;}
}	
	
	function validartodo(mailvalido){
  		var bValid = true;
		email.removeClass("ui-state-error");		
		pass.removeClass("ui-state-error");		
		   
		        bValid = bValid && checkRegexp( email, /^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i, "La direccion de 'Email' es invalida" );
				
				bValid = bValid && checkmailvalid( mailvalido,email );
		       	
                
				if ( bValid ) {
				//	$( "#users tbody" ).append( "<tr>" +
					//	"<td>" + email.val() + "</td>" +
			//		"</tr>" ); 
				
					$( "#ingresarUsuario" ).submit();
					//$( this ).dialog( "close" );
				}		
		}	
	

		function updateTips( t ) {
			tips
				.text( t )
				.addClass( "ui-state-highlight" );
			setTimeout(function() {
				tips.removeClass( "ui-state-highlight", 1500 );
			}, 500 );
		}

		


		function checkRegexp( o, regexp, n ) {
			if ( !( regexp.test( o.val() ) ) ) {
				o.addClass( "ui-state-error" );
				updateTips( n );
				return false;
			} else {
				return true;
			}
		}
		

		$( "#boton_enviar" )
			
			.click(function() {
				validarusuario(email);
			});

		
		});
		
		

	// increase the default animation speed to exaggerate the effect
//	$.fx.speeds._default = 5000;
	//$(function() {
	
		
		//$( "#dialog" ).dialog({
			//autoOpen: false,
			//show: "blind",
			//hide: "explode"
	//	});

		
	//});
	














	</script>

<!--script>
	$(function() {
		// a workaround for a flaw in the demo system (http://dev.jqueryui.com/ticket/4375), ignore!
		$( "#dialog:ui-dialog" ).dialog( "destroy" );
	
		$( "#dialog-modal1" ).dialog({
			height: 140,
			modal: true,
			autoOpen: false
		});
	});
	</script-->
<!-- InstanceEndEditable -->

<meta http-equiv="Content-Type" content="text/html; charset={charset}" />
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->

<meta name="Keywords" content="{keywords}" />
<meta name="Description" content="{titulo} - {description}" />
<meta name="DC.Title" content="{title}" />
<meta http-equiv="DC.Description" content="{titulo} - {description}" />
<meta name="DC.Keywords" content="{keywords}" />
<meta name="Language" content="{idioma}" />
<meta name="robots" content="all" />
<meta name="revisit-after" content="30 days" />
<meta name="distribution" content="global" />
<meta name="resource-type" content="document" />
<meta name="robots" content="all" />

<meta name="copyright" content="Copyright ? - Alejandro Javier Doglioli" />

<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/{idioma}/feed" /> 
     
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<script type="text/JavaScript" src="/js/funciones.js"></script>

<!--[if IE]> 
<style>
#blog {padding-top: 30px;}
#blog h2{padding-left: 40px;padding-bottom: 30px;}
</style> <![endif]-->
</head>
<body {onload} >
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div id="contenedorlinksuperior">
	<div id="linksuperior">
		<ul>
			<li style="margin-left:10px;">
				<!-- BEGIN block_idiomas -->
				<p><a href="/{idioma_bandera}/" title="{nombre_idioma}"><img src="{image_idioma}" alt="{nombre_idioma}"/></a></p>
				<!-- END block_idiomas -->
			</li>
			<li>{link_login_salir}</li>
			<li>Bienvenido a {empresa} {usuario_logueado}|</li>
            
		</ul>
   
	</div>
</div>
<div id="wrapper">
	<div id="header-frontend">
	  <div id="logo"> 
			<b><a href="/" title="{empresa}"><img src="/images/logootro.jpg" alt="Campo-Vende" width="190" height="150" /></a></b>
    		<!--<b>{empresa}</b>
			<p><em>{slogan}</em></p> -->
		</div>
         <div align="center"> 
         <ul>         		
          <li style="float:left"> 
         <iframe align="right" width="320" height="47" scrolling="no" src="http://pagina-del-dia.euroresidentes.es/gadget-dia-de-hoyH.php?fondo=Azul.png&texto=FFFFFF" frameborder="0"></iframe>
         </li>
			<li style="float:right;">
						<div id="search">
			<form method="post" action="/{idioma}/buscar/">
					<div>                          
						<input type="text" name="texto" id="texto" size="20" value="Busca en {empresa}..." onfocus="if (this.value == 'Busca en {empresa}...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Busca en {empresa}...';}"/>
						<input type="submit" class="botonbuscar" value="{traduccion_buscar}" />
					</div>
				</form>
			</div>

			</li>
         </ul>
         </div>     
		<div id="menu">
        
			<ul>
            
			<li style="width:100%;margin-bottom:50px;"></li>
<!-- BEGIN block_menu_principal -->
					<li  class="{classmenu}"><a href="{path}" title="{seccion}" >{seccion}</a>
						{subseccion}				</li>
					<!-- END block_menu_principal -->
					<!-- BEGIN block_menu_principal_modulo -->
					<li class="{classmenu}"><a href="{path}" title="{seccion}" >{seccion}</a></li>
					<!-- END block_menu_principal_modulo -->
					<li class="{classmenucontacto}"><a href="/{idioma}/contacto.htm" rel="nofollow" title="{traduccion_contacto}">{traduccion_contacto}</a></li>
					<li class="{classmenumapaweb}"><a href="/{idioma}/mapaweb.htm" title="{traduccion_mapaweb}">{traduccion_mapaweb}</a></li>
				</ul>
		</div>	
		<div style="clear:both"></div>	
	</div>
	<!-- end #header -->
	
	<!-- end #menu -->
	<div id="page">
		<div id="content">
			
			<div id="breadcrumb"><a href="/{idioma}/" title="Home">Home</a><!-- InstanceBeginEditable name="BreadCrumb" -->{breadcrum}<!-- InstanceEndEditable --></div>
			<div class="post">
				
				
				<h1 class="title">{titulo}</h1>			

				<!-- InstanceBeginEditable name="contenido" -->
                
                
                

<form id="ingresarUsuario" action="/{idioma}/login.htm" enctype="multipart/form-data" method="post">  
             <b><p class="validateTips" style=" margin-left:10px;float:left;padding:10px;width:75%;"></p></b> 
			<div id="cuerpoIngreso">
				<div id="usuarioLogin">
          
					<p id="tituloUsuarioBorde2">Usuario Registrado?</p>
					<p class="linea">
						<label for="usuario">e-mail</label>
						<input id="email_usuario" name="email_usuario" type="text"/>
					</p>
					<p class="linea">
						<label for="contrasenia">password</label>
						<input id="password_usuario" name="password_usuario" type="password"  />
					</p>
					
					<p id="boton_enviar"><input class="boton" style="text-align:center" value="Entrar" /></p>
				</div>
				<div id="usuarioRegistrar">
                	<p id="tituloUsuario">No estas registrado?</p>
					<p class="boton2" id="registrarse"><input class="botongrande" value="Registrarme" style="text-align:center"/></p></br></br>
                    <p class="olvido"><a href="#" id="olvidepass">Recuperar Password</a></p>
				</div>
             
			</div>
			
			</form>
            
            



					<!--div id="cuerpoIngreso">
								<div id="usuarioLogin">
								<p>Usuario Registrado?</p>
									<form  action="/{idioma}/login.htm" method="post">
									<input type="hidden" value="login" id="action" name="action" />
									<tr class="row1" onmouseover="this.className='highlight'" onmouseout="this.className='row1'">
										  <td width="100%" class="center" style="background-color:#FFFFCC">
											<table>
												<tr>
													<td>Email Usuario</td>
													<td><input id="email_usuario" name="email_usuario" type="text"/></td>
												</tr>
												<tr>
													<td>Password</td>
													<td><input id="password_usuario" name="password_usuario" type="password"  /></td>
												</tr>
												<tr>
												 	 <td><input class="boton" type="reset" value="Cancelar" onclick="history.back(-1);" /></td>
													 <td><input class="boton" type="submit" value="Login" /></td>
												</tr>				
											</table>
										</td>
									</tr>
									</form>								
								</div>
                                
								<div id="usuarioRegistrar">
									<p>Usuario nuevo? Debe registrarse</p>
									
                                    <p class="cont_pregunta">
				  <button id="registrarse" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false"><span class="ui-button-text">Registrarse</span></button>
				</p>
								</div>
                                <a href="#" id="olvidepass" style="float:left">Recuperar Password</a>
					</div-->	
                    
               
                    <div id="dialog-form" title="Registrese en Campo-Vende">
	<p class="validateTips">Complete los Campos requeridos</p>
<form action="/index.php?action=insertar_usuarios_sistema_ok&idioma=es" method="post"  enctype="multipart/form-data" class="comments" id="formRegistrarse">	
<input id="captcha_texto_session" name="captcha_texto_session" type="hidden" value="{captcha_texto_session}" />			
								<ul>
								<li>Nombre:(*)<br/><input id="nombre_usuario" name="nombre_usuario" type="text" value="" size="40"/></li>
								<li>Apellido:<br/><input id="apellido_usuario" name="apellido_usuario"  type="text" value="" size="40" /></li>
								
								<li>Email: (*)<br/><input id="email" name="email"  type="text" value="" size="40" /></li>                                
								<li>Password: (*)<br/><input id="password" name="password" type="password" value="" size="40" /></li>
								<li>Confirme Password: (*)<br/><input id="password_conf" name="password_conf" type="password" value="" size="40"  /></li>
								
								<li>Domicilio:<br/><input id="domicilio_usuario" name="domicilio_usuario"  type="text" value="" size="40" /></li>
								<li>Ciudad:<br/><input id="ciudad_usuario" name="ciudad_usuario"  type="text" value="" size="40" /></li>
								<li>Provincia:<br/><input id="provincia_usuario" name="provincia_usuario"  type="text" value="" size="40" /></li>
								<li>CP:<br/><input id="cp_usuario" name="cp_usuario"  type="text" value="" size="40" /></li>
								<li>Tel\E9fono:<br/><input id="telefono_usuario" name="telefono_usuario"  type="text" value="" size="40" /></li>
								<li>Celular:<br/><input id="celular_usuario" name="celular_usuario"  type="text" value="" size="40" /></li>
                                
								
								<li style="height:40px;">Ingrese el codigo de verificacion.
								<br /><img src="/include/crear-imagen.php?captcha_texto={captcha_texto_session}" alt="captcha" /><br/><input name="captcha" type="text" id="captcha" size="20" onfocus="this.className=''"/></li>
								</ul>
					  </form>
                            
                            
</div>

 <div id="dialog-form-pass" title="Recupere su password">
	<p class="validateTips">Ingrese el mail con el que se registro a Campo-Vende</p>
<form id="formOlvidePass"  enctype="multipart/form-data" method="post" action="/{idioma}/recuperar_password.htm">				
								<p>Email: (*)<br/><input id="email_rec" name="email_rec"  type="text" value="" size="50" /></p>                                
								<p style="height:40px;">Ingrese el codigo de verificacion.
								<br /><img src="/include/crear-imagen.php?captcha_texto={captcha_texto_session}" alt="captcha"/><br/><input name="captcha" type="text" id="captcha" size="20" onfocus="this.className=''"/></p>


							</form>
                            
                            
</div>






	<!-- InstanceEndEditable -->
				
				<!-- InstanceBeginEditable name="noticias" --><!-- InstanceEndEditable -->
				
				
			</div>
			<div style="clear: both;">&nbsp;
			  <p>&nbsp;</p>
			</div>
		</div>
		<!-- end #content -->
		<div id="sidebar">
					
		    <ul id="menulateral">
				
				<li>
					<h2>{traduccion_secciones} {categoria_seccion}</h2>
					<ul id="lotes">
						<!-- BEGIN block_secciones -->
						<li {onmouse} >
						<a href="{path}" title="{seccion}" class="{classmenulateral}">{seccion}</a>
						{submenu}
						</li>
						<!-- END block_secciones -->
					</ul>
				</li>
			</ul>
			<!--ul>	
				<li>
					<div class="menu">
					  <h2>Newsletter</h2>
						<h3>{traduccion_slogannewsletter}</h3>
						<form action="/{idioma}/gracias-newsletter.htm" name="formnewsletter" id="formnewsletter" enctype="multipart/form-data" method="post">
						<p class="center"><label>Nombre:</label> <input id="nombre_contacto" name="nombre_contacto" type="text"/></p>
						<p class="center"><label>Apellido:</label> <input id="apellido_contacto" name="apellido_contacto" type="text" /></p>
						<p class="center"><label>Email:</label> <input id="email_contacto" name="email_contacto" type="text" /></p>
						<p class="center" style="margin-top:10px;"><input type="button" value="Subscribirse" class="boton" onclick="validarFormNewsletter()" /></p>
						</form>
					</div>	
				</li>
			</ul-->
			<ul>	
				<li>
					<div class="menu">
						<h2>{traduccion_etiquetas}</h2>
						<p class="tag">
							<!-- BEGIN tags -->
							<a href="/{idioma}/{enlace}.htm" title="{anchortag}" style="font-size:{tam}" >{anchortag}</a>
							<!-- END tags -->
						</p>
					</div>
				</li>
			</ul>			  
			<ul>
			  <li>
					<h2>Cotizaci\F3n Dolar</h2>
			  </li> 
<!-- Inicio Codigo DolarAlDia.com --> 
<!--script language="JavaScript" src="http://www.dolaraldia.com/rss/botoncotizaciones.php" type="text/javascript">
</script><!-- Fin DolarAlDia.com --> 


<div id="preciodolar-ar1"><h2><a href="http://www.preciodolar.com">Precio del dolar</a></h2><a href="http://www.preciodolar.com/cotizacion-del-dolar">Cotizacion del dolar</a></div><script type="text/javascript" src="http://www.preciodolar.com/js/get_preciodolar_ar1.js"></script>


          </ul>
      </div>
		
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
			
			</div>
	</div>
	<!-- end #page -->

<div id="footer-content">
	<div class="column1">
    
		<p id="copyright">{traduccion_copyright} <br />	{traduccion_disenadopor} <a href="http://www.alejandro-doglioli.com.ar/">Alejandro Doglioli</a></p>
	</div>
    <div class="columnmedio">
    <fb:like href="http://prod.campo-vende.com.ar" send="true" layout="button_count" width="300" show_faces="true" action="recommend" font="lucida grande"></fb:like>
    </div>
	<div class="column2">
    
		<ul class="list">
			<li><a href="/{idioma}/feed" title="RSS"><img src="/images/rss.jpg" alt="RSS" width="60" /></a></li>
			<li><a href="http://validator.w3.org/check?uri={url_actual}" title="Valid HTML 4.01 Transitional"><img src="http://validator.w3.org/images/valid_icons/valid-xhtml10" alt="Valid HTML 4.01 Transitional" title="Valid XHTML 1.0 Transitional" /></a></li>
			<li><a href="http://jigsaw.w3.org/css-validator/check?uri=www.deviajeyturismo.com" title="CSS V?lido"><img src="http://jigsaw.w3.org/css-validator/images/vcss" alt="?CSS V?lido!" title="?CSS V?lido!" /></a></li>
		</ul>
	</div>
</div>
<!-- end #footer -->


<!--Estadisticas-->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2581103-17']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!--Fin estadisticas-->
</body>
<!-- InstanceEnd --></html>
