<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:fb="http://ogp.me/ns/fb#" xmlns="http://www.w3.org/1999/xhtml" xml:lang="{idioma}"><!-- InstanceBegin template="/Templates/plantilla.dwt" codeOutsideHTMLIsLocked="false" -->
<head> 
      <link rel="shortcut icon" href="/images/favicon.ico" >



   
<!-- InstanceBeginEditable name="doctitle" -->
<title>{title} - {title_empresa}</title>
<!-- InstanceEndEditable -->

<meta http-equiv="Content-Type" content="text/html; charset={charset}" />
<!-- InstanceBeginEditable name="head" -->

<!-- TradeDoubler site verification 1777981 -->

<meta name="google-site-verification" content="l_OSpNcyxw9LmZ-z9FuGfgX85J_cTgXptzRAlSvohq0" />
<meta name="y_key" content="24cb25b19ef7bd66" />
<meta name="msvalidate.01" content="AF5CA8B4BCD6A7A023D2DE00DE42CE1B" />

<!-- InstanceEndEditable -->

<meta name="Keywords" content="{keywords}" />
<meta name="Description" content="{titulo} - {description}" />
<meta name="DC.Title" content="{title}" />
<meta http-equiv="DC.Description" content="{titulo} - {description}" />
<meta name="DC.Keywords" content="{keywords}" />
<meta name="Language" content="{idioma}" />
<meta name="robots" content="all" />
<meta name="revisit-after" content="30 days" />
<meta name="distribution" content="global" />
<meta name="resource-type" content="document" />
<meta name="robots" content="all" />

<meta name="copyright" content="Copyright ? - Alejandro Javier Doglioli" />

<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/{idioma}/feed" /> 
     
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<script type="text/JavaScript" src="/js/funciones.js"></script>

<!--[if IE]> 
<style>
#blog {padding-top: 30px;}
#blog h2{padding-left: 40px;padding-bottom: 30px;}
</style> <![endif]-->
</head>
<body {onload} >
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div id="contenedorlinksuperior">
	<div id="linksuperior">
		<ul>
			<li style="margin-left:10px;">
				<!-- BEGIN block_idiomas -->
				<p><a href="/{idioma_bandera}/" title="{nombre_idioma}"><img src="{image_idioma}" alt="{nombre_idioma}"/></a></p>
				<!-- END block_idiomas -->
			</li>
			<li>{link_login_salir}</li>
			<li>Bienvenido a {empresa} {usuario_logueado}|</li>
            
		</ul>
   
	</div>
</div>
<div id="wrapper">
	<div id="header-frontend">
	  <div id="logo"> 
			<b><a href="/" title="{empresa}"><img src="/images/logootro.jpg" alt="Campo-Vende" width="190" height="150" /></a></b>
    		<!--<b>{empresa}</b>
			<p><em>{slogan}</em></p> -->
		</div>
         <div align="center"> 
         <ul>         		
          <li style="float:left"> 
         <iframe align="right" width="320" height="47" scrolling="no" src="http://pagina-del-dia.euroresidentes.es/gadget-dia-de-hoyH.php?fondo=Azul.png&texto=FFFFFF" frameborder="0"></iframe>
         </li>

			<li style="float:right;">
						<div id="search">
			<form method="post" action="/{idioma}/buscar/">
					<div>                          
						<input type="text" name="texto" id="texto" size="20" value="Busca en {empresa}..." onfocus="if (this.value == 'Busca en {empresa}...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Busca en {empresa}...';}"/>
						<input type="submit" class="botonbuscar" value="{traduccion_buscar}" />
					</div>
				</form>
			</div>

			</li>
         </ul>
         </div>     
		<div id="menu">
        
			<ul>
            
			<li style="width:100%;margin-bottom:50px;"></li>
<!-- BEGIN block_menu_principal -->
					<li  class="{classmenu}"><a href="{path}" title="{seccion}" >{seccion}</a>
						{subseccion}				</li>
					<!-- END block_menu_principal -->
					<!-- BEGIN block_menu_principal_modulo -->
					<li class="{classmenu}"><a href="{path}" title="{seccion}" >{seccion}</a></li>
					<!-- END block_menu_principal_modulo -->
					<li class="{classmenucontacto}"><a href="/{idioma}/contacto.htm" rel="nofollow" title="{traduccion_contacto}">{traduccion_contacto}</a></li>
					<li class="{classmenumapaweb}"><a href="/{idioma}/mapaweb.htm" title="{traduccion_mapaweb}">{traduccion_mapaweb}</a></li>
				</ul>
		</div>	
		<div style="clear:both"></div>	
	</div>
	<!-- end #header -->
	
	<!-- end #menu -->
	<div id="page">
		<div id="content">
			
			<div id="breadcrumb"><a href="/{idioma}/" title="Home">Home</a><!-- InstanceBeginEditable name="BreadCrumb" -->{breadcrum}<!-- InstanceEndEditable --></div>
			<div class="post">
				
				
				<h1 class="title">{titulo}</h1>			

				<!-- InstanceBeginEditable name="contenido" -->
	
				{contenido}
		
			
		
	  <div id="enlacesubcaegorias" style="{enlacesubcategoriasvisibles}">
		<h2 class="title">{traduccion_destacados_hostales}</h2>
		<ul>
			<!-- BEGIN block_destacados_hostales -->
			<li><a href="/{idioma}/{categoria}/{subcategoria}-{id_categoria}-{id_subcategoria}.htm" title="{anchor}">{anchor}</a></li>
			<!-- END block_destacados_hostales -->	
		</ul>

		</div>
		<div style="clear:both"></div>
		
				
	<!-- InstanceEndEditable -->
				
				<!-- InstanceBeginEditable name="noticias" -->

 	 
		 	<div class="noticias">
			<h2 class="title">{traduccion_noticias}</h2>
			<!-- BEGIN block_noticias -->
			<div class="noticia">
				<h2><a href="{enlace_noticia}" title="{titulo_noticia}">{titulo_noticia}</a></h2></p>
				<p>{headline_noticia} <br /> <b class="fechapublicacion">{traduccion_publicadoel} {fecha_noticia}</b>.</p>
			</div>
			
			<!-- END block_noticias -->
		  </div>	
		
	
	   
	   
	    <!-- Video -->
		
<!-- 		<p>{titvideo} <strong>{cantTitvideo}</strong>.</p> -->
<!-- <p>{descripvideo}</p> -->

<!-- <p class="meta">&nbsp;</p> -->
<!-- <p class="meta">Videos Hacienda</p> -->
<!-- <div class="entry"> -->
<!--  <p class="links"><a class="more" href="#"> -->
<!--  Read More</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
<!--  <a class="comments" href="javascript: void(0)" onclick="javascript:VentanaCentrada('form.html','contacto','','400','490','true');"> -->
 
<!--  Comments (33)</a></p> -->
<!--  <a class="comments" href="javascript: void(0)"  -->
<!--    onclick="window.showModalDialog('form.html'); " >Contacto</a> -->
<!--  {pantalla} -->
 
<!-- </div> -->
<!-- Fin video-->
		
<!-- Do not change code! -->
		
		
		
		<!-- InstanceEndEditable -->
				
				
			</div>
			<div style="clear: both;">&nbsp;
			  <p>&nbsp;</p>
			</div>
		</div>
		<!-- end #content -->
		<div id="sidebar">
					
		    <ul id="menulateral">
				
				<li>
					<h2>{traduccion_secciones} {categoria_seccion}</h2>
					<ul id="lotes">
						<!-- BEGIN block_secciones -->
						<li {onmouse} >
						<a href="{path}" title="{seccion}" class="{classmenulateral}">{seccion}</a>
						{submenu}
						</li>
						<!-- END block_secciones -->
					</ul>
				</li>
			</ul>
			<!--ul>	
				<li>
					<div class="menu">
					  <h2>Newsletter</h2>
						<h3>{traduccion_slogannewsletter}</h3>
						<form action="/{idioma}/gracias-newsletter.htm" name="formnewsletter" id="formnewsletter" enctype="multipart/form-data" method="post">
						<p class="center"><label>Nombre:</label> <input id="nombre_contacto" name="nombre_contacto" type="text"/></p>
						<p class="center"><label>Apellido:</label> <input id="apellido_contacto" name="apellido_contacto" type="text" /></p>
						<p class="center"><label>Email:</label> <input id="email_contacto" name="email_contacto" type="text" /></p>
						<p class="center" style="margin-top:10px;"><input type="button" value="Subscribirse" class="boton" onclick="validarFormNewsletter()" /></p>
						</form>
					</div>	
				</li>
			</ul-->
			<ul>	
				<li>
					<div class="menu">
						<h2>{traduccion_etiquetas}</h2>
						<p class="tag">
							<!-- BEGIN tags -->
							<a href="/{idioma}/{enlace}.htm" title="{anchortag}" style="font-size:{tam}" >{anchortag}</a>
							<!-- END tags -->
						</p>
					</div>
				</li>
			</ul>			  
			<ul>
			  <li>
					<h2>Cotización Dolar</h2>
			  </li> 
<!-- Inicio Codigo DolarAlDia.com --> 
<!--script language="JavaScript" src="http://www.dolaraldia.com/rss/botoncotizaciones.php" type="text/javascript">
</script><!-- Fin DolarAlDia.com --> 


<div id="preciodolar-ar1"><h2><a href="http://www.preciodolar.com">Precio del dolar</a></h2><a href="http://www.preciodolar.com/cotizacion-del-dolar">Cotizacion del dolar</a></div><script type="text/javascript" src="http://www.preciodolar.com/js/get_preciodolar_ar1.js"></script>


          </ul>
      </div>
		
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
		
	
				
			</div>
	</div>
	<!-- end #page -->
</div>
<div id="footer-content">
	<div class="column1">
    
		<p id="copyright">{traduccion_copyright} <br />	{traduccion_disenadopor} <a href="http://www.alejandro-doglioli.com.ar/">Alejandro Doglioli</a></p>
	</div>
    <div class="columnmedio">
    <fb:like href="http://prod.campo-vende.com.ar" send="true" layout="button_count" width="300" show_faces="true" action="recommend" font="lucida grande"></fb:like>
    </div>
	<div class="column2">
    
		<ul class="list">
			<li><a href="/{idioma}/feed" title="RSS"><img src="/images/rss.jpg" alt="RSS" width="60" /></a></li>
			<li><a href="http://validator.w3.org/check?uri={url_actual}" title="Valid HTML 4.01 Transitional"><img src="http://validator.w3.org/images/valid_icons/valid-xhtml10" alt="Valid HTML 4.01 Transitional" title="Valid XHTML 1.0 Transitional" /></a></li>
			<li><a href="http://jigsaw.w3.org/css-validator/check?uri=www.deviajeyturismo.com" title="CSS V?lido"><img src="http://jigsaw.w3.org/css-validator/images/vcss" alt="?CSS V?lido!" title="?CSS V?lido!" /></a></li>
		</ul>
	</div>
</div>
<!-- end #footer -->


<!--Estadisticas-->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2581103-17']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!--Fin estadisticas-->
</body>
<!-- InstanceEnd --></html>
